<div class="container">
  <h1>Subjects FILTERED Catalogue</h1>

  <table>
    <tbody>
    <tr>
      <td><a class="btn btn-info btn-sm" (click)="getSubjectsOrderedByName()">Ordenar</a></td>
      <td><input placeholder="Nombre" type="text" class="form-control" [(ngModel)]="nombre_filtrado" name="nombre" id="nombre" required></td>
      <a class="btn btn-info btn-sm" (click)="getSubjectByName(nombre_filtrado)">Filtrar</a>
      <td><input placeholder="Titulacion" type="text" class="form-control" [(ngModel)]="titulacion_filtrado" name="titulacion" id="titulacion" required></td>
      <a class="btn btn-info btn-sm" (click)="getSubjectsByTitulacion(titulacion_filtrado)">Filtrar</a>
      <td><input placeholder="Quatrimestre" type="number" class="form-control" [(ngModel)]="quatrimestre_filtrado" name="quatrimestre" id="quatrimestre" required></td>
      <a class="btn btn-info btn-sm" (click)="getSubjectsByQuatrimestre(quatrimestre_filtrado)">Filtrar</a>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Nombre Asignatura</th>
      <th>Estudiantes</th>
      <th>Titulacion</th>
      <th>Quatrimestre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>
        <p *ngFor="let a of book.author">
          <button type="button" class="btn btn-link" [routerLink]="['/author-details', a._id]">{{a.name}} {{a.surnames}}</button>
        </p>
      </td>
      <td>{{book.publisher }}</td>
      <td>{{ book.price }}</td>
      <!--<td><a [routerLink]="['/author-details/'+ book.author]" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-user" aria-hidden="true"> Autor</span>
      </a></td> !-->
    </tr>
    </tbody>
  </table>
</div>
